.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 21px 17px;
  margin-top: 50px;
  max-width: 290px;
}

.newcards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.newcards:empty {
  display: none;
}

.gallery__photos {
  position: relative;
  height: 361px;
}

.gallery__photo-card {
  max-width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.gallery__photo-name {
  color: #000;
  font-family: "Inter-Black", sans-serif;
  background-color: #fff;
  padding: 20px;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery__trash {
  background: none;
  background-image: url(/images/Trash.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  right: 15px;
  width: 19px;
  height: 19px;
  border: none;
  position: absolute;
  cursor: pointer;
}

.gallery__trash:hover {
  background-color: #646363;
}

.gallery__photo-like {
  background: none;
  background-image: url(/images/like.svg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.gallery__photo-liked {
  background-image: url(/images/liked.svg);
}

.gallery__photo-like:hover {
  color: #000;
  background-image: url(/images/liked.svg);
}

@media screen and (max-width: 584px) and (max-width: 1280px) {
  .gallery {
    max-width: 1280px;
  }
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .gallery {
    max-width: 290px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 21px 17px;
    justify-content: center;
    padding-top: 36px;
  }

  .gallery__photo-card {
    width: 100%;
  }
}
